<html>
<head>
    <title>{% block title %}{% block page_title %}{% endblock %}CatChat{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='semantic-ui/semantic.min.css') }}">
</head>
<body>
    <div class="ui labeled icon right vertical inverted demo menu sidebar">
        <a class="item" href="{{ url_for('chat.anonymous') }}">
            <i class="user secret icon"></i>
            Incognito Mode
        </a>
        <a class="item" href="{{ url_for('chat.profile') }}">
            <i class="setting icon"></i>
            Profile
        </a>

        <a class="item" href="{{ url_for('auth.logout') }}">
            <i class="power off icon"></i>
            Sign out</a>
    </div>

    <div class="ui borderless menu">
        <a class="item catchat" href="{{ url_for('chat.home') }}">
            <img src="{{ url_for('static', filename='logo.png') }}">
            <span>CatChat</span>
        </a>
        <div class="menu right hide-on-mobile">
            <a class="item" id="toggle-sidebar">
                <i class="sidebar icon"></i>
            </a>
        </div>
    </div>

    <div>
        <div class="table table-hover" align="right" style="width: 60%; height: 100px">
            <form method="post" action="{{ url_for('room.search_room') }}">
                {{ searchform.csrf_token }}
                {{ searchform.room_name }}
                {{ searchform.submit }}
            </form>
        </div>
        <br>
        <div class="circular message">
            <table class="table table-bordered table-hover" style="width:60%">
                <tr><th colspan="3" class="text-warning"><h2> --- {{ username }}'s ChatRooms --- </h2></th></tr>
            <tr><th>Room Name</th><th>Current User Number</th><th>Total Users</th><th>Owner</th></tr>
            {% for room in rooms %}
                <tr>
                    <td align="center">{{ room["room_name"] }}</td>
                    <td align="center">{{ room["cur_user_total"] }}</td>
                    <td align="center">{{ room["user_total"] }}</td>
                    <td align="center">{{ room["owner"] }}</td>
                    <td align="center"><form method="post" action="{{ url_for('room.delete_room', room_id=room['room_id']) }}">
                        {{ deleteform.csrf_token }}
                        {{ deleteform.submit }}
                        </form>
                    </td>
                    <td align="center">
                        <form method="post" action="{{ url_for('room.enter_room', room_id=room["room_id"]) }}">
                            {{ enter_form.csrf_token }}
                            {{ enter_form.submit }}
                        </form>
                    </td>
                    <td align="center">
                        <form method="get" action="{{ url_for('room.display_member', room_id=room["room_id"]) }}">
                            {{ display_form.csrf_token }}
                            {{ display_form.submit }}
                        </form>
                    </td>
                </tr>
            {% endfor %}
                <tr><td colspan="4">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</td></tr>
                <tr>
                    <form method="post" action="{{ url_for('room.create_room') }}">

                        <td><p>New Room Name: </p></td>
                        {{ createform.csrf_token }}
                        <td>{{ createform.room_name }}</td>
                        <td>{{ createform.submit }}</td>
                    </form>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>

